services:
  - type: web
    name: anon-tg-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: bash startup.sh
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: bot-database
          property: connectionString
    disk:
      name: bot-data
      mountPath: /opt/render/project/src/data
      sizeGB: 1
