services:
  - type: web
    name: anon-tg-bot
    env: python
    plan: free
    buildCommand: chmod +x build.sh && ./build.sh
    startCommand: gunicorn render_server:app --bind 0.0.0.0:$PORT --worker-class aiohttp.GunicornWebWorker
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: RENDER
        value: true
    healthCheckPath: /health
    autoDeploy: true
