services:
  - type: web
    name: anon-tg-bot
    env: python
    buildCommand: |
      pip install -r requirements.txt
      python create_tables.py
    startCommand: bash startup.sh
    envVars:
      - key: DATABASE_URL
        value: sqlite:////opt/render/project/src/data/bot.db
      - key: PYTHONPATH
        value: /opt/render/project/src
    disk:
      name: bot-data
      mountPath: /opt/render/project/src/data
      sizeGB: 1
